@(firstLine: String, lastLine: String, currentCard: Int, handCard: Int, ablageStapel: Int)

@main("Lets Play!") {
  <div id="conditionalrendering">
    <input type="hidden" id="currentPlayer">
    <input type="hidden" id="hiddenInputSeen" value="true">
    <input type="hidden" id="card1GetValue" value="@currentCard">
    <input type="hidden" id="card2GetValue" value="@handCard">
    <input type="hidden" id="card3GetValue" value="@ablageStapel">
    <h1 id="firstLine">@firstLine</h1>
    <div id="app"></div>
    <div v-if="seenAllowed" id="standardInput">
      @standardInput()
    </div>
  </div>
      <script src="../assets/javascripts/board.js" type="text/javascript"></script>
      <script src="../assets/javascripts/board_vue.js" type="text/javascript"></script>
      <script src="../assets/javascripts/websocket.js" type="text/javascript"></script>
}
