@(firstLine: String, lastLine: String, currentCard: Int, handCard: Int, ablageStapel: Int)

@main("Lets Play!") {
  <h1>@firstLine</h1>
  <a href="/turn/red/playCard/1">
    <figure style="display:inline-block;" >
      <img src="assets/images/cards/Card-@currentCard.toString).jpg" width="100%" alt="Karte 1 (@currentCard)" />
      <figcaption>Karte 1</figcaption>
    </figure>
  </a>
  <a href="/turn/red/playCard/2">
    <figure style="display:inline-block;" >
      <img src="assets/images/cards/Card-@handCard.toString).jpg" width="100%" alt="Karte 2 (@currentCard)" />
      <figcaption>Karte 2</figcaption>
    </figure>
  </a>
  <figure style="display:inline-block;" >
    <img src="assets/images/cards/Card-@ablageStapel.toString).jpg" width="100%" alt="Ablagestapel (@currentCard)"  />
    <figcaption>Ablagestapel</figcaption>
  </figure>
  <p>
    @lastLine
  </p>
    @standardInput()
}
