<div>
    <a class="button" href="/turn/red/getInvestigatorGuess/0">Rate 0</a>
    <a class="button" href="/turn/red/getInvestigatorGuess/2">Rate 2</a>
    <a class="button" href="/turn/red/getInvestigatorGuess/3">Rate 3</a>
    <a class="button" href="/turn/red/getInvestigatorGuess/4">Rate 4</a>
    <a class="button" href="/turn/red/getInvestigatorGuess/5">Rate 5</a>
    <a class="button" href="/turn/red/getInvestigatorGuess/6">Rate 6</a>
    <a class="button" href="/turn/red/getInvestigatorGuess/7">Rate 7</a>
    <a class="button" href="/turn/red/getInvestigatorGuess/8">Rate 8</a>
</div>