<div>
    <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        Welche Karte rätst du?
    </button>
    <ul class="dropdown-menu bg-primary">
        <li><a class="dropdown-item" href="/turn/red/getInvestigatorGuess/0">Rate 0</a></li>
        <li><a class="dropdown-item" href="/turn/red/getInvestigatorGuess/2">Rate 2</a></li>
        <li><a class="dropdown-item" href="/turn/red/getInvestigatorGuess/3">Rate 3</a></li>
        <li><a class="dropdown-item" href="/turn/red/getInvestigatorGuess/4">Rate 4</a></li>
        <li><a class="dropdown-item" href="/turn/red/getInvestigatorGuess/5">Rate 5</a></li>
        <li><a class="dropdown-item" href="/turn/red/getInvestigatorGuess/6">Rate 6</a></li>
        <li><a class="dropdown-item" href="/turn/red/getInvestigatorGuess/7">Rate 7</a></li>
        <li><a class="dropdown-item" href="/turn/red/getInvestigatorGuess/8">Rate 8</a></li>
    </ul>
</div>