@()

@main("Lovecraftletter") {
  <h1>Wilkommen bei Lovecraftletter!</h1>
  <div>
    <h2>Spielen</h2>
    <a class="button" href="/initNewGame">Neues Spiel</a>
  </div>
  <div>
    <h2>Regeln</h2>
    <h3>Spielablauf</h3>
    <p>Der Spieler, der am Zug ist, zieht zunächst die oberste Karte des Nachziehstapels. Da er zuvor bereits 1 Karte auf der Hand hatte, besitzt er nun 2 Handkarten. Er wählt 1 dieser 2 Handkarten und spielt sie offen vor sich aus. Die andere Karte behält er weiterhin verdeckt auf der Hand. Hat die ausgespielte Karte eine Funktion, muss der Spieler sie jetzt ausführen, auch wenn es zu seinem Nachteil ist. Abschließend legt er sie offen auf seinen persönlichen Ablagestapel, den er vor sich bildet. Damit ist sein Zug beendet, und der Spieler links von ihm ist am Zug.</p>
    <h3>Karten ablegen</h3>
    <p>Die Spieler müssen aufgrund verschiedener Kartenfunktionen oftmals Karten ablegen. Dies bedeutet immer, dass der Spieler diese Karten offen auf seinen Ablagestapel legt, die Funktion dieser Karte aber nicht ausführt.</p>
    <h3>Wahnsinn und Wahnsinnskontrolle</h3>
    <p>Liegt eine Wahnsinnskarte offen auf dem Ablagestapel eines Spielers, unabhängig davon, wie sie dort gelandet ist, ist dieser Spieler in Kontakt mit verbotenem Wissen gekommen und wird sofort für den Rest der Runde wahnsinnig. Hat der Spieler die Karte gespielt, führt er erst noch deren normale Funktion aus! Spielt ein wahnsinniger Spieler in einem folgenden Spielzug eine Wahnsinnskarte nutzt er die Wahnsinnsfunktion der Karte. Ein wahnsinniger Spieler riskiert aber, jederzeit mental zusammenzubrechen. Zu Beginn jedes seiner folgenden Spielzüge, bevor er die neue Handkarte zieht, muss er die Wahnsinnskontrolle durchführen. Dazu deckt er so viele Karten eine nach der anderen vom Nachziehstapel auf, wie er bereits an Wahnsinnskarten auf seinem Ablagestapel liegen hat. Dies passiert automatisch. Deckt er dabei eine Wahnsinnskarte auf, scheidet er sofort aus. Der Spieler legt die aufgedeckten Karten anschließend offen auf seinen Ablagestapel, ohne deren Funktionen auszuführen.</p>
  </div>
}
