<div class="dropdown">
    <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        Wähle einen Spieler auf den du deine Aktion anwenden möchtest
    </button>
    <ul class="dropdown-menu bg-primary">
        @for(number <- Vector(1,2,3,4,5,6)) {
        <li><a id="item@number" class="dropdown-item" href="turn/red/selectPlayer/@number">Spieler @number</a></li>
        }
    </ul>
    <script src="assets/javascripts/getSelectablePlayers.js" type="text/javascript"></script>
</div>